<?xml version="1.0" ?>
<launch>
<!-- <param name="/use_sim_time" value="true" /> -->

  <arg name="map_name" default="$(find mcc)/maps/simple.yaml" />

  <node pkg="map_server" type="map_server" name="map_server" output="screen" args="$(arg map_name)">
    <param name="frame_id" value="/map" />
  </node>

  <include file="$(find mcc)/launch/multiple_robots.launch" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mcc)/rviz/default.rviz" />

</launch>

